
MINT_INFO_NAME="My Cashu mint"
MINT_INFO_DESCRIPTION="The short mint description"
MINT_INFO_DESCRIPTION_LONG="A long mint description that can be a long piece of text."
MINT_INFO_CONTACT=["Email: contact@me.com", "Twitter: @me", "Nostr: npub..."]
MINT_INFO_MOTD="Message to users"

MINT_PRIVATE_KEY=supersecretprivatekey

MINT_LISTEN_HOST=127.0.0.1
MINT_LISTEN_PORT=3338

LIGHTNING=TRUE
# fee to reserve in percent of the amount
LIGHTNING_FEE_PERCENT=1.0 
# minimum fee to reserve
LIGHTNING_RESERVE_FEE_MIN=4000 

MINT_LNBITS_ENDPOINT=https://legend.lnbits.com
MINT_LNBITS_KEY=yourkeyasdasdasd

